@font-face {
  font-family: "Shoemaker";
  src: url(fonts/shoemaker.ttf) format("ttf");
}
/* Global styles */

html {
  scroll-behavior: smooth;
}

/* Remove pesky margin that causes extra white space on sides of screen */
body {
  margin: 0;
}

h2 {
  font-family: "Shoemaker", montserrat, sans-serif;
  color: #0f4a1a;
  font-size: 32px;
  padding-top: 20px;
}

h3 {
  font-family: montserrat, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #0f4a1a;
}

p,
li {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #0f4a1a;
}

button {
  background-color: #0f4a1a;
  border-radius: 20px;
  color: white;
  border-style: none;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.white-bg {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}
.green-bg {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: #d3ded5;
}

/* Bubble navigation styling */
nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 1rem;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}

a {
  position: relative;
}

a:hover .label {
  opacity: 1;
  transform: translateX(0);
}

.bubble {
  width: 0.8rem;
  height: 0.8rem;
  background: #d3ded5;
  border-radius: 2rem;
  margin: 0.5rem 0;
}

.label {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  opacity: 0;
  transform: translateX(1rem);
  transition: all 300ms;
  color: #d3ded5;
  font-family: montserrat, sans-serif;
  font-size: 12px;
}

.dark-bubble {
  background: #0f4a1a;
}
.dark-label {
  color: #0f4a1a;
}
.light-bubble {
  background: #d3ded5;
}
.light-label {
  color: #d3ded5;
}

/* Div 1 styling */
/* Set header size and position */
header {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

/* Fit video into header */
#welcome-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Welcome video overlay styling */
#welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #00000085;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styling for contents of welcome overlay begins */
/* Styling of text in welcome overlay */
#welcome-message {
  display: flex;
  justify-content: center;
  max-width: 85%;
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

/* Stying of input box */
#name-input {
  max-width: 30%;
  height: 32px;
  border-radius: 20px;
  border-style: none;
  padding-left: 20px;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgb(63, 63, 63);
}
/* Removing blue outline around input on click */
#name-input:focus {
  outline: none;
}

/*Div 2 styling */
#ralph-hello {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#ralph-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#ralph-image > img {
  max-width: 55%;
  height: 70%;
}

#ralph-hello-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
}
#ralph-hello-body p {
  max-width: 75ch;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Div 3 styling */

#introduction-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
}

.flourish-chart {
  max-width: 85%;
  margin: 0 auto;
}

#to-game-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Div 4 styling */
#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d3ded5;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.5);
}

.box:hover {
  transform: translateX(-0.1rem) translateY(-0.1rem);
}

.box > p {
  border: none;
  box-shadow: none;
  pointer-events: none;
}

.box-highlight {
  background-color: #90bb98;
}

.bad-brand {
  background-color: #c11f1e;
  box-shadow: 0px 0px 10px rgba(187, 16, 16, 0.5);
}

.bad-brand p {
  color: white;
}

.good-brand {
  background-color: #047218;
  box-shadow: 0px 0px 10px rgba(12, 131, 38, 0.5);
}

.good-brand p {
  color: white;
}

/* Div 5 styling */
#help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}

.accordion .panel {
  background-color: white;
  position: relative;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.5);
}

.accordion .panel .heading {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.accordion .panel .heading::before {
  content: "+";
  color: #0f4a1a;
  font-size: 30px;
  font-weight: 600px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.accordion .panel .content {
  border-radius: 0px 0px 10px 10px;
  border-style: solid;
  border-width: 1px;
  position: relative;
  background: #0f4a1a;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  overflow-y: auto;
}

.accordion .panel .content p {
  color: white;
}

.accordion .panel.active .heading::before {
  content: "-";
  color: #0f4a1a;
  font-size: 40px;
  font-weight: 600px;
}

.accordion .panel.active .content {
  opacity: 1;
  height: auto;
  padding: 20px;
}

.accordion a {
  text-decoration: underline;
}

/* Div 6 styling */
#footer {
  background-color: #0f4a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

#source-container {
  background-color: rgba(128, 128, 128, 0.87);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#source-container.show {
  pointer-events: auto;
  opacity: 1;
}

#source-modal {
  background-color: #d3ded5;
  border-radius: 10px;
  padding: 0px 50px;
  width: 600px;
  max-width: 80%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #welcome-message {
    font-size: 20px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }

  p,
  li {
    font-size: 14px;
  }

  .box > p {
    font-size: 12px;
  }

  #ralph-hello {
    display: flex;
  }

  #ralph-hello-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  #ralph-hello-body p {
    max-width: 80ch;
  }

  #ralph-image {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .game-board {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
  }
}
