@font-face {
  font-family: "Shoemaker";
  src: url(fonts/shoemaker.ttf) format("ttf");
}
/* Global styles */
/* Remove pesky margin that causes extra white space on sides of screen */
body {
  margin: 0;
}

h2 {
  font-family: "Shoemaker", sans-serif;
  color: #0f4a1a;
  font-size: 32px;
}

h3 {
  font-family: montserrat, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #0f4a1a;
}

p {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #0f4a1a;
}

button {
  background-color: #0f4a1a;
  border-radius: 20px;
  color: white;
  border-style: none;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 20px;
  margin-top: 20px;
}

button > a {
  text-decoration: none;
  color: white;
}

.white-bg {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}
.green-bg {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: #d3ded5;
}

/* Bubble navigation styling */
nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 1rem;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}

a {
  position: relative;
}

a:hover .label {
  opacity: 1;
  transform: translateX(0);
}

.bubble {
  width: 0.8rem;
  height: 0.8rem;
  background: #d3ded5;
  border-radius: 2rem;
  margin: 0.5rem 0;
}

.active-bubble {
  background: yellow;
}

.dark-bubble {
  background: #0f4a1a;
}
.dark-label {
  color: #0f4a1a !important;
}
.light-bubble {
  background: #d3ded5;
}
.light-label {
  color: #d3ded5 !important;
}

.label {
  position: absolute;
  top: 0.5rem;
  right: 3rem;
  opacity: 0;
  transform: translateX(1rem);
  transition: all 300ms;
  color: #d3ded5;
  font-family: montserrat, sans-serif;
  font-size: 12px;
}

/* Set header size and position */
header {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

/* Fit video into header */
#welcome-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Welcome video overlay styling & giving fade animation */
#welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #00000085;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styling for contents of welcome overlay begins */
/* Styling of text in welcome overlay */
#welcome-message {
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 24px;
}

/* Stying of input box */
#name-input {
  width: 15%;
  height: 32px;
  border-radius: 20px;
  border-style: none;
  padding-left: 20px;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgb(63, 63, 63);
}
/* Removing blue outline around input on click */
#name-input:focus {
  outline: none;
}
/*Div 1 styling ends*/

/*Div 2 styling begins*/
#ralph-hello {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ralph-image {
  align-items: flex-end;
}

#sources {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: #0f4a1a;
}
