/* Global styles */
/* Remove pesky margin that causes extra white space on sides of screen */
body {
  margin: 0;
}

button {
  background-color: #0f4a1a;
  border-radius: 20px;
  color: white;
  border-style: none;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 20px;
  margin-top: 20px;
}

button > a {
  text-decoration: none;
  color: white;
}

.white-bg {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}
.green-bg {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: #d3ded5;
}

/* Set header size and position */
header {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

/* Fit video into header */
#welcome-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Welcome video overlay styling & giving fade animation */
#welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #00000085;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styling for contents of welcome overlay begins */
/* Styling of text in welcome overlay */
#welcome-message {
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}

/* Stying of input box */
#name-input {
  width: 15%;
  height: 32px;
  border-radius: 20px;
  border-style: none;
  padding-left: 20px;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgb(63, 63, 63);
}
/* Removing blue outline around input on click */
#name-input:focus {
  outline: none;
}
/*Div 1 styling ends*/

#sources {
  width: 100vw;
  max-width: 100%;
  height: 50vh;
  background-color: #0f4a1a;
}
